<nb-card [nbSpinner]="loader$ | async" nbSpinnerStatus="danger" style="width: 50vw">
  <nb-card-body>
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Edit Vehicle">
        <form [formGroup]="editVehicleForm">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <div class="form-group">
                  <label for="departmentId">Select Department</label>
                  <select class="form-control" formControlName="departmentId" id="departmentId">
                    <option *ngFor="let department of departments" value="{{department.id}}">
                      {{department.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="registrationNumber">Reg. Number</label>
                <input class="form-control" formControlName="registrationNumber" id="registrationNumber"
                       placeholder="Reg. Number" type="text">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="form-group">
                  <label for="vin">VIN</label>
                  <input class="form-control" formControlName="vin" id="vin" placeholder="VIN" type="text">
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <div class="form-group">
                  <label for="make">Make</label>
                  <input class="form-control" formControlName="make" id="make" placeholder="Make" type="text">
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="model">Model</label>
                <input class="form-control" formControlName="model" id="model" placeholder="Model"
                       type="text">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="color">Color</label>
                <input class="form-control" formControlName="color" id="color" placeholder="Color"
                       type="text">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="yearOfManufacturing">Year</label>
                <input class="form-control" formControlName="yearOfManufacturing" id="yearOfManufacturing"
                       placeholder="Year"
                       type="text">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="chassis">Chassis</label>
                <input class="form-control" formControlName="chassis" id="chassis"
                       placeholder="Chassis"
                       type="text">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="recordStatus">Status</label>
                <select class="form-control" formControlName="recordStatus" id="recordStatus">
                  <option *ngFor="let status of statuses" value="{{status}}">
                    {{status}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="additionalInformation">Additional Information</label>
                <textarea class="form-control" formControlName="additionalInformation" id="additionalInformation"
                          placeholder="Additional Information"></textarea>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="recordStatus">Transfer Reason</label>
                <select class="form-control" formControlName="reasonForUpdate" id="reasonForUpdate">
                  <option *ngFor="let transferReason of transferReasons" value="{{transferReason}}">
                    {{transferReason}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <button
                  (click)="onSubmit()"
                  [disabled]="!editVehicleForm.valid"
                  class="btn btn-outline-success btn-icon btn-semi-round btn-demo"
                  id="button"
                  type="button">
                  Save
                  <i class="plus-outline"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </nb-tab>
      <nb-tab tabTitle="Book Vehicle">
        <div class="row">
          <div class="col-sm-12" style="margin-bottom: .5rem; margin-top: 1.5rem; font-weight: bold;">
            Kindly Select Service you want
          </div>
          <div *ngFor="let motorServiceCategory of motorServiceCategories" class="col-sm-12">
            <nb-checkbox
              (checkedChange)="onChecksChange($event, motorServiceCategory.id)">
              {{motorServiceCategory.category}}: {{motorServiceCategory.description}}</nb-checkbox>
          </div>
        </div>
        <div class="form-group" style="margin-top: 1.5rem">
          <label for="additionalInformation">Additional Information</label>
          <textarea [(ngModel)]="additionalInformation" class="form-control" id="additionalInfo"
                    placeholder="Additional Information"></textarea>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <button
                (click)="onBook()"
                [disabled]="!servicesSelected.length"
                class="btn btn-outline-success btn-icon btn-semi-round btn-demo"
                id="buttonBook"
                type="button">
                Book
                <i class="plus-outline"></i>
              </button>
            </div>
          </div>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>




