<nb-card [nbSpinner]="false" nbSpinnerStatus="danger" style="width: 60vw">
  <nb-card-header>
    Booking Details
  </nb-card-header>
  <nb-card-body>

    <div class="row">
      <div class="col-sm-12" style="margin-bottom: .5rem; margin-top: 1.5rem; font-weight: bold;">
        Kindly Select Service you want
      </div>
      <div *ngFor="let motorServiceCategory of motorServiceCategories" class="col-sm-12">
        <nb-checkbox
          (checkedChange)="onChecksChange($event, motorServiceCategory.id)"
          [checked]="checkChecked(motorServiceCategory.name)">
          {{motorServiceCategory.name}} <{{motorServiceCategory.description}}></nb-checkbox>
      </div>
    </div>
    <div class="form-group" style="margin-top: 1.5rem">
      <label for="additionalInfo">Additional Information</label>
      <textarea [(ngModel)]="additionalInformation" class="form-control" id="additionalInfo"
                placeholder="Additional Information"></textarea>
    </div>

    <div class="form-group">
        <label for="reasonForUpdate">Booking Status</label>
        <select class="form-control" [(ngModel)]="bookingStatus" id="reasonForUpdate">
          <option *ngFor="let option of options" value="{{option.value}}">
            {{option.label}}</option>
        </select>
      </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <button
            (click)="onBook()"
            class="btn btn-outline-success btn-icon btn-semi-round btn-demo"
            id="buttonBook"
            type="button">
            Edit
            <i class="plus-outline"></i>
          </button>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
